*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: end;
  background-color: #f1f1f1;
}

.login-item {
  padding: 10px;
  margin-right: 20px;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.login-item:hover {
  opacity: 0.4;
}

.login-item::after {
  position: relative;
  left: 20px;
  content: "";
  border-right: 1px solid #000;
}

.login-item:last-child::after {
  content: "";
  border-right: none;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb img {
  height: 80px;
  margin-left: 20px;
}

.gnb img:hover {
  opacity: 0.4;
}

.gnb-list {
  display: flex;
  margin-left: 50px;
}

.gnb-item {
  padding: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.gnb-item:hover {
  border-bottom: 3px solid #000;
}

.search {
  display: flex;
  align-items: center;
}

.icon-list {
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  padding-left: 40px;
  border-radius: 20px;
  background-color: #e9e6e6;
  opacity: 0.5;
}

.search input:hover {
  opacity: 1;
}

.glass, .heart, .shopping {
 padding: 20px;
 font-size: 20px;
 cursor: pointer;
}

.glass {
  position: relative;
  left: 50px;
}

.glass:hover,
.heart:hover,
.shopping:hover {
  opacity: 0.4;
}